/* ---------- GLOBAL ---------- */
:root {
  --background-color: #f1f5f9;
  --primary-color: #4c1d95;
  --secundary-color: #000000;
  --color-white: #ffffff;
  --color-black: #000000;
  --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    background-color: var(--background-color);
    font-family: sans-serif;
}
  
body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
/* ---------- GLOBAL ---------- */

/* ---------- MENU HAMBURGUER ---------- */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #000;
}
/* ---------- MENU HAMBURGUER ---------- */

/* ---------- NAV LINKS ---------- */
.nav-links {
  width: 100%;
  top: 5rem;
  display: none;
}

.nav-links a {
  background-color: #4c1d95;   
  color: #fff;
  border-radius: var(--border-radius);
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a:active {
  background-color: blue;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /*margin-left: 5em;*/
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}

/* ---------- SOCIAL ---------- */
.social {
  background-color: var(--primary-color);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}

.social:hover {
  background-color: blue;
}
/* ---------- SOCIAL ---------- */

/* ---------- FOOTER ---------- */
footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
/* ---------- FOOTER ---------- */