---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>

  <h1>{pageTitle}</h1>

  <h2>Aqui é um H2 e estamos dentro da página index.astro</h2>

  <p><strong>Isso é um paragrafo dentro do index.astro.</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, eos quibusdam quod, doloremque hic ex aliquid dolorem nemo eum, nulla eveniet distinctio. Beatae molestias explicabo harum eius repellat doloremque tempora.</p>

  <img src="https://docs.astro.build/assets/full-logo-light.png" alt="teste de imagem no astro" width="300" style="background-color: black; padding: 10px;">

  <p><strong>Isso é um paragrafo dentro do index.astro.</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, eos quibusdam quod, doloremque hic ex aliquid dolorem nemo eum, nulla eveniet distinctio. Beatae molestias explicabo harum eius repellat doloremque tempora.</p>

</BaseLayout>